@charset "ISO-8859-1";

#abajo {
  background-color: black;
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
}

#texto {
    color: white;
    position: relative;
    top: 13px;
    left: 8%;
    width: 80%;    
}

